{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('style/objectif.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js" integrity="sha256-7PzqE1MyWa/IV5vZumk1CVO6OQbaJE4ns7vmxuUP/7g=" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous">
    {% endblock %}
    {% block head %}
        <script>

            document.addEventListener('DOMContentLoaded', function() {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'fr',
                events: [
                    {
                    title: '{{ objectif.Task.Titre }}',
                    start: '{{ dateDebut|date("Y-m-d") }}',
                    end: '{{ dateFin|date("Y-m-d") }}'
                    }
                ],
                eventColor: '#E86C00',
                headerToolbar: {
                    left: 'prev',
                    center: 'title',
                    right: 'next'
                },
                firstDay: 1,
                expandRows: true,
                height: '50vh',
                contentHeight: 'auto',
                dayMaxEvents: true,
                });
                calendar.render();
            });

            function showIcon() {
                var icon = document.getElementById("icon-div");
                if (icon.style.display === "none") {
                    icon.style.display = "block";
                } else {
                    icon.style.display = "none";
                }
            }

            function valider() {
                var validation = document.getElementById("validation-div");
                if (validation.style.display === "none") {
                    validation.style.display = "block";
                } else {
                    validation.style.display = "none";
                }
            }

            function supprimer(taskId) {
                if (confirm('Vous êtes sur le point de supprimer votre objectif. Voulez-vous continuer ?')) {
                    window.location.pathname = "/objectif/" + taskId + "/delete";
                }
                else {
                    return false;
                } 
            }

        </script>
    {% endblock %}
    {% block body %}
        <script src="https://kit.fontawesome.com/a398bc3145.js" crossorigin="anonymous"></script>
            <div id='ObjectifHeader'>
                <div id="HautHeader">
                    <span id="close">
                    <a href="/home/objectifs?voir=tous">
                    <i class="fa-solid fa-xmark"></i>
                    </a>
                    </span>
                    <div id="nom_obj">
                        {% if objectif.getPreviousTask(objectifs, index) is not empty %}
                            <a href="{{ path('objectif_show', {'id': objectif.getPreviousTask(objectifs, index).getTask()}) }}"><i class="fa-solid fa-less-than"></i></a>
                        {% endif %}
                        {{ objectif.Task.Titre }}
                        {% if objectif.getNextTask(objectifs, index) is not empty %}
                            <a href="{{ path('objectif_show', {'id': objectif.getNextTask(objectifs, index).getTask()}) }}"><i class="fa-solid fa-greater-than"></i></a>
                        {% endif %}
                    </div>
                    <div id="end">
                            <div id = "container">
                                {% if objectif.isFavoris == 1 %}
                                <a href="{{ path('objectif_favoris_delete', {'id': objectif.Task.Id}) }}">
                                    <i class="fa-solid fa-heart"></i></a>
                                {% else %}
                                    <a href="{{ path('objectif_favoris', {'id': objectif.Task.Id}) }}">
                                        <i class="fa-regular fa-heart"></i></a>
                                {% endif %}
                                <!-- Bouton qui affiche les icones -->
                                <button id="icon" onclick="showIcon()">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </button>
                                <!-- Quand on clique sur le bouton, on affiche les icones -->
                                <div id="icon-div" style="display:none;">
                                    <a href="{{ path('objectif_edit', {'id': objectif.Task.Id}) }}">
                                        <i class="fa-solid fa-edit"></i></a>
                                    <a href="#" onclick="supprimer({{objectif.Task.Id}})">
                                        <i class="fa-solid fa-trash"></i></a>
                                </div>
                            </div>    
                    </div>
                </div>
                <div id="BasHeader">
                    <div class="progress">
                    {% if objectif.Task.Avancement == 0 %}
                        <div class="progress-bar bg-success" role="progressbar" style="width: 0%"></div>
                    {% else %}
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ (objectif.repetition * 100) / objectif.Task.Avancement }}%"></div>
                    {% endif %}
                    
                    {% if objectif.Task.avancement == 0 %}
                        <p id="progressText">0%</p>
                    {% else %}
                        <p id="progressText">{{ ((objectif.repetition * 100) / objectif.Task.Avancement)|round(1, 'ceil') }}%</p>
                    {% endif %}
                        <div id="separator"></div>
                    </div>
                </div>
            </div>
            <div id="ObjectifBody">

                <div id="HautObjectif">
                    <div id="gauche">
                        <div id="description">
                            <h2>Description de l'objectif :</h2>
                            <p>{{ objectif.Task.Description }}<p>
                        </div>
                        <div id="infos">
                            <h2>Informations sur votre objectif :</h2>
                            <!-- Quand l'objectif n'a pas de fréquence -->
                            {% if objectif.Task.Avancement == 1 %}
                                <p>Vous avez un objectif unique</p>
                                <p>Cet objectif est dans la catégorie <span id="orange">{{ objectif.Task.category.nom }}</span></p>
                                <p>Vous poursuivez cet objectif depuis <span id="orange">{{nombreJoursEcoules}}</span> jour(s)/ <span id="orange">{{nombreMoisEcoules}}</span> mois/ <span id="orange">{{nombreAnneesEcoules}}</span> année(s)</p>
                                <p>Il vous reste encore <span id="orange">{{nombreJoursRestants}}</span> jour(s)/ <span id="orange">{{nombreMoisRestants}}</span> mois/ <span id="orange">{{nombreAnneesRestants}}</span> année(s)</p>
                            <!-- Quand l'objectif a une fréquence -->
                            {% else %}
                                <p>Vous avez validé votre objectif <span id="orange">{{objectif.Repetition}}</span> fois</p>
                                <p>Vous avez décidé de réaliser votre objectif <span id="orange">{{objectif.Task.NombreFois}}</span> 
                                    fois par <span id="orange">{% if objectif.Task.ChoixTemps == 1 %}jour{% elseif objectif.Task.ChoixTemps == 7 %}semaine{% elseif objectif.Task.ChoixTemps == 30 %}mois{% endif %}</span>
                                </p>
                                <p>Cet objectif est dans la catégorie <span id="orange">{{ objectif.Task.category.nom }}</span></p>
                                <p>Il vous reste <span id="orange">{{objectif.Task.Avancement - objectif.Repetition}}</span> validation(s) pour le finir</p>
                                <p>Vous poursuivez cet objectif depuis <span id="orange">{{nombreJoursEcoules}}</span> jour(s)/ <span id="orange">{{nombreMoisEcoules}}</span> mois/ <span id="orange">{{nombreAnneesEcoules}}</span> année(s)</p>
                                <p>Il vous reste encore <span id="orange">{{nombreJoursRestants}}</span> jour(s)/ <span id="orange">{{nombreMoisRestants}}</span> mois/ <span id="orange">{{nombreAnneesRestants}}</span> année(s)</p>
                            {% endif %}
                        </div>
                    </div>    

                    <div id="droite">
                        <div id="calendar"></div>
                    </div>
                </div>
                <div id="BasObjectif">
                <!-- Si l'objectif est fini, on affiche la validation finale-->
                    {% if objectif.Repetition + 1 == objectif.Task.Avancement %}
                        <div id="validation-div" style="display:none;">
                            <h2 id="validation">Validation de l'objectif :</h2>
                            <p>Vous venez de finir votre objectif, félicitations !</p>
                            <p>Vous pouvez le valider définitivement en cliquant sur le bouton ci-dessous</p>
                            <a href="{{ path('valider_objectif', {'id': objectif.Task.getIdTask()}) }}">
                                <button class="btn_valider"type="button">Valider</button>
                            </a>
                            <p>Vous pouvez aussi le continuer en cliquant sur le bouton ci-dessous</p>
                            <a href="{{ path('continuer_objectif', {'id': objectif.Task.getIdTask()}) }}">
                                <button class="btn_valider"type="button">Continuer</button>
                            </a>
                        </div>
                    {% else %}
                        <div id="validation-div" style="display:none;">
                            <h2 id="validation">Validation de l'objectif :</h2>
                            <p>Voulez-vous vraiment valider votre objectif ?</p>
                            <p>Vous pouvez le valider en cliquant sur le bouton ci-dessous</p>
                            <a href="{{ path('valider_objectif', {'id': objectif.Task.getIdTask()}) }}">
                                <button class="btn_valider"type="button">Valider</button>
                            </a>
                            <p>Vous pouvez aussi revenir en arrière en cliquant sur le bouton ci-dessous</p>
                            <!-- On simule le clic sur le bouton Valider, qui va juste rendre la div en display none à nouveau -->
                            <button class="btn_valider"type="button" onclick="valider()">Annuler</button>
                        </div>
                    {% endif %}
                    <span id="btn">                     
                        <button class="btn_valider"type="button" onclick="valider()">Valider</button>
                    </span>
                </div>
            </div>
    {% endblock %}