{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('style/Admin/Category/index.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
{% endblock %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <a id="quitter" class="btn btn-danger" href = "/admin">retour au menu principal</a>
    <h1>Liste des catégories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.nom }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_admin_category_show', {'id': category.id}) }}">voir</a>
                    <a class="btn btn-success" href="{{ path('app_admin_category_edit', {'id': category.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de catégories à afficher</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div id="new-category">
        <a class="btn btn-success btn-new-category" href="{{ path('app_admin_category_new') }}">Créer une nouvelle catégorie</a>
    </div>
{% endblock %}
