<html>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('style/objectifs.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    {% endblock %}
    {% block subpage %}
    <script src="https://kit.fontawesome.com/a398bc3145.js" crossorigin="anonymous"></script>
        <div id="BodyObjectifs">
            <div id="HeaderObjectifs">
                {% if 'voir=tous' in url %}
                    <a href="?voir=categories" id = "non_selected">Catégories</a>
                    <a href="?voir=tous">Tous</a>
                    <a id="btn-ajout" href="/task/new" class="btn btn-primary">Nouvel Objectif</a>
                {% else %}
                    <a href="?voir=categories">Catégories</a>
                    <a href="?voir=tous" id = "non_selected">Tous</a>
                    <a id="btn-ajout" href="/task/new" class="btn btn-primary">Nouvel Objectif</a>
                {% endif %}
            </div>
            {% if 'objectif=done' in url %}
                <div class="alert alert-success" role="alert">
                    Vous avez validé votre objectif ! Bravo !
                </div>
            {% endif %}
            {% if 'objectif=modif' in url %}
                <div class="alert alert-success" role="alert">
                    Objectif modifié avec succès
                </div>
            {% endif %}
            {% if 'objectif=continue' in url %}
                <div class="alert alert-success" role="alert">
                    Objectif repris avec succès
                </div>
            {% endif %}
            {% if 'form=ok' in url %}
                <div class="alert alert-success" role="alert">
                    Objectif créé avec succès
                </div>
            {% endif %}
            {% if 'form=ko' in url %}
                <div class="alert alert-danger" role="alert">
                    Erreur lors de la création de l'objectif
                </div>
            {% endif %}
            {% if 'voir=tous' in url or 'tri' in url %}
                 {{ render(controller('App\\Controller\\TaskController::showListe')) }}                            
            {% else %}
                <div id="Objectifs">
                    {% for categorie in categories %}
                        <a href="?tri={{ categorie.id }}" id = "{{ categorie.nom }}"><img src="{{asset('catégories/' ~ categorie.image ~ '')}}" alt ="catégorie {{ categorie.nom }}"></a>
                    {% endfor %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="../admin/category/new" id="btn-ajout">Ajout catégorie</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endblock %}
</html>